
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* ################################################################################################ */



  .header {
    display: flex;  
    background: rgb(112, 65, 65);} 
  
/* ............................................................................................ */
.head {
    padding-top: 20px;}
/* ........................................................................................... */
 

.tab {padding-top: 33px; color: orange; text-decoration: none; }

/* ............................................................................................ */

.glyphicon {padding-top: 23px;}

/* ........................................................................................... */


.center {display: flex;
        margin: auto;
        padding-top: 100px;
        padding-left: 150px;}


/* .. .........................................................................................*/

.cart {background: rgb(112, 65, 65);
       color: orange;
       height: 20px;
       padding-bottom: 25px;
       text-align: center;
       margin-top: 10px;}

/* ........................................................................................... */

.add {color: rgb(182, 41, 41);
     display: flex;}


/* ........................................................................................... */

#textt {border: solid black 1px;
        width: 21.5px;
        height: 30px;
        text-align: center;
        margin-top: 10px;
        padding-top: 5px;}

/* ............................................................................................*/

.mid {padding-top: 90px;
      margin-left: 100px;
      margin-right: 300px;}

/* ............................................................................................*/


.btnn {border: solid rgb(112, 65, 65)  3px;
    border-radius: 10px;}

/* ........................................................................................... */

#mitch {font-family:Righteous ;
        font-weight: bolder;
        color: rgb(104, 74, 74);}

/* ............................................................................................ */

#fall {font-weight: bold;
       font-family: 'Courier New', Courier, monospace;
       color: orange;
       background: rgb(112, 65, 65);
       padding: 10px;}

/* ........................................................................................... */
.Nike-main {margin-left: 80px;
            border: solid rgb(112, 65, 65) 5px;
            border-radius: 20px;
            height: 360px;}

/* .......................................................................................... */

.nike {display: flex;
      text-indent: 7px;
      padding-left: 240px;}
/* ########################################################################################## */
